@{
}

@model GreekRecruit.Models.User
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mx-3 mt-3" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mx-3 mt-3" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<title>Login</title>
<div class="text-center">
    <h1 class="display-4">Login</h1>
    <br />
    <img src="~/images/greekrecruit_logo.jpg" style="height:100px; width=100px;"/>
    <form asp-controller="Login" asp-action="SubmitData" method="POST">
        <label for="email">Email</label>
        <input type="text" id="email" asp-for="email" />
        <br /><br />
        <label for="username">Username</label>
        <input type="text" id="username" asp-for="username"/>
        <br /><br />
        <label for="password">Password</label>
        <input type="password" id="password" asp-for="password"/>
        <br /><br />
        <input type="submit" value="Submit">
    </form>
    <div>
        <!--<p>No account yet?</p>-->
        <!--<a asp-controller="Register" asp-action="Register" class="btn btn-primary">Register</a>-->
    </div>
</div>
