@*
*@
@{
    
}
@model GreekRecruit.Models.User

<title>Register</title>

<h1>Register for an Account</h1>
<br />
@if (TempData["FlashMessage"] != null)
{
    <div class="alert alert-error">
        @TempData["FlashMessage"]
    </div>
}
<br />

<form asp-controller="Register" asp-action="SubmitRegister" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" asp-for="username" />
    <br /><br />
    <label for="password">Password</label>
    <input type="password" id="password" asp-for="password" />
    <label for="password2">Confirm Password</label>
    <input type="password" id="password2" asp-for="confirmPassword"/>
    <br /><br />
    <input type="submit" value="Submit">
</form>